@model IEnumerable<ProductViewModel>
@{
    ViewBag.Title = "Домашняя страница";
}
<h1>Каталог товаров:</h1> 
<p><strong>Всего: @Model?.Count() шт.</strong></p>
<hr />
@foreach (var product in Model ?? new List<ProductViewModel>())
{
    <partial name="_Product", model="@product" />
}
<br />
<br />
<a asp-action="Create">Добавить товар</a>

@section footer
{
    <div>Это нижний колонтитул домашней страницы</div>
}
