@model IEnumerable<ProductViewModel>
@{
    ViewBag.Title = "Домашняя страница";
}
<h1>Каталог товаров:</h1> 
<p><strong>Всего: @Model?.Count() шт.</strong></p>
<hr />
@foreach (var product in Model ?? new List<ProductViewModel>())
{
    <div class="p-1">
        <partial name="_Product" , model="@product" />
    </div>
}
<br />
<br />
<div class="p-1">
    <a class="btn btn-success" asp-action="Create">Добавить товар</a>
</div>


@section footer
{
    <div>Это нижний колонтитул домашней страницы</div>
}
